<ion-content class="ion-padding">
  <div class="forgot-wrapper">
    <h1>Esqueci minha senha</h1>
    <p>Digite seu e-mail para receber o link de redefinição</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Enviando...' : 'Enviar link' }}
      </ion-button>
    </form>
  </div>
</ion-content>
